/* screen - project-2-process-1 */

.project-2-process-1 {
  background-color: var(--white);
  height: 8099px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1280px;
}

.project-2-process-1 .rectangle-10-rO6IZx {
  background-color: var(--white);
  height: 137px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1280px;
}

.project-2-process-1 .program-bookspring-2022-rO6IZx {
  background-color: transparent;
  height: auto;
  left: 85px;
  letter-spacing: 2.40px;
  line-height: 45px;
  position: absolute;
  text-align: left;
  top: 254px;
  white-space: nowrap;
  width: auto;
}

.project-2-process-1 .ryan-ledesma-rO6IZx {
  background-color: transparent;
  height: auto;
  left: 85px;
  letter-spacing: 2.70px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  top: 56px;
  white-space: nowrap;
  width: auto;
}

.project-2-process-1 .safe-send-app-rO6IZx {
  background-color: transparent;
  height: auto;
  left: 85px;
  letter-spacing: 1.80px;
  line-height: 50px;
  position: absolute;
  text-align: left;
  top: 510px;
  white-space: nowrap;
  width: auto;
}

.project-2-process-1 .home-rO6IZx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 1014px;
  letter-spacing: 2.40px;
  line-height: 34px;
  position: absolute;
  text-align: left;
  top: 64px;
  white-space: nowrap;
  width: auto;
}

.project-2-process-1 .screen-shot-2022-04-25-at-85508-pm-rO6IZx {
  background-color: transparent;
  height: 523px;
  left: 85px;
  object-fit: cover;
  position: absolute;
  top: 621px;
  width: 523px;
}

.project-2-process-1 .screen-shot-2022-04-25-at-85534-pm-rO6IZx {
  background-color: transparent;
  height: 523px;
  left: 85px;
  object-fit: cover;
  position: absolute;
  top: 1216px;
  width: 523px;
}

.project-2-process-1 .screen-shot-2022-04-25-at-85553-pm-rO6IZx {
  background-color: transparent;
  height: 523px;
  left: 85px;
  object-fit: cover;
  position: absolute;
  top: 1811px;
  width: 523px;
}

.project-2-process-1 .screen-shot-2022-04-25-at-85614-pm-rO6IZx {
  background-color: transparent;
  height: 523px;
  left: 85px;
  object-fit: cover;
  position: absolute;
  top: 2406px;
  width: 523px;
}

.project-2-process-1 .screen-shot-2022-04-25-at-85523-pm-rO6IZx {
  background-color: transparent;
  height: 523px;
  left: 673px;
  object-fit: cover;
  position: absolute;
  top: 621px;
  width: 523px;
}

.project-2-process-1 .screen-shot-2022-04-25-at-85543-pm-rO6IZx {
  background-color: transparent;
  height: 523px;
  left: 673px;
  object-fit: cover;
  position: absolute;
  top: 1216px;
  width: 523px;
}

.project-2-process-1 .screen-shot-2022-04-25-at-85603-pm-rO6IZx {
  background-color: transparent;
  height: 523px;
  left: 673px;
  object-fit: cover;
  position: absolute;
  top: 1811px;
  width: 523px;
}

.project-2-process-1 .screen-shot-2022-04-25-at-85623-pm-rO6IZx {
  background-color: transparent;
  height: 523px;
  left: 673px;
  object-fit: cover;
  position: absolute;
  top: 2406px;
  width: 523px;
}

.project-2-process-1 .pay-1-rO6IZx {
  background-color: transparent;
  height: 844px;
  left: 215px;
  object-fit: cover;
  position: absolute;
  top: 3087px;
  width: 390px;
}

.project-2-process-1 .home-1-rO6IZx {
  background-color: transparent;
  height: 844px;
  left: 215px;
  object-fit: cover;
  position: absolute;
  top: 4003px;
  width: 390px;
}

.project-2-process-1 .search-1-rO6IZx {
  background-color: transparent;
  height: 844px;
  left: 215px;
  object-fit: cover;
  position: absolute;
  top: 4919px;
  width: 390px;
}

.project-2-process-1 .profile-rO6IZx {
  background-color: transparent;
  height: 844px;
  left: 215px;
  object-fit: cover;
  position: absolute;
  top: 5835px;
  width: 390px;
}

.project-2-process-1 .search-rO6IZx {
  background-color: transparent;
  height: 844px;
  left: 215px;
  object-fit: cover;
  position: absolute;
  top: 6751px;
  width: 390px;
}

.project-2-process-1 .bank-1-rO6IZx {
  background-color: transparent;
  height: 844px;
  left: 675px;
  object-fit: cover;
  position: absolute;
  top: 3087px;
  width: 390px;
}

.project-2-process-1 .profile-1-rO6IZx {
  background-color: transparent;
  height: 844px;
  left: 675px;
  object-fit: cover;
  position: absolute;
  top: 4003px;
  width: 390px;
}

.project-2-process-1 .pay-rO6IZx {
  background-color: transparent;
  height: 844px;
  left: 675px;
  object-fit: cover;
  position: absolute;
  top: 4919px;
  width: 390px;
}

.project-2-process-1 .home-dxrZc4 {
  background-color: transparent;
  height: 844px;
  left: 675px;
  object-fit: cover;
  position: absolute;
  top: 5835px;
  width: 390px;
}

.project-2-process-1 .bank-rO6IZx {
  background-color: transparent;
  height: 844px;
  left: 675px;
  object-fit: cover;
  position: absolute;
  top: 6751px;
  width: 390px;
}
/* screen - project-2-process-mobile-1 */

.project-2-process-mobile-1 {
  background-color: var(--white);
  height: 8762px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 390px;
}

.project-2-process-mobile-1 .rectangle-10-nD5YXe {
  background-color: var(--white);
  height: 75px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 390px;
}

.project-2-process-mobile-1 .ryan-ledesma-nD5YXe {
  background-color: transparent;
  height: auto;
  left: 29px;
  letter-spacing: 1.58px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  top: 28px;
  white-space: nowrap;
  width: auto;
}

.project-2-process-mobile-1 .program-bookspring-2022-nD5YXe {
  background-color: transparent;
  height: auto;
  left: 29px;
  letter-spacing: 1.35px;
  line-height: 31px;
  position: absolute;
  text-align: left;
  top: 122px;
  white-space: nowrap;
  width: auto;
}

.project-2-process-mobile-1 .safe-send-app-nD5YXe {
  background-color: transparent;
  height: auto;
  left: 131px;
  letter-spacing: 1.12px;
  line-height: 34px;
  position: absolute;
  text-align: left;
  top: 238px;
  white-space: nowrap;
  width: auto;
}

.project-2-process-mobile-1 .home-nD5YXe {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 312px;
  letter-spacing: 1.35px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  top: 26px;
  white-space: nowrap;
  width: auto;
}

.project-2-process-mobile-1 .screen-shot-2022-04-25-at-85508-pm-nD5YXe {
  background-color: transparent;
  height: 309px;
  left: 41px;
  object-fit: cover;
  position: absolute;
  top: 340px;
  width: 309px;
}

.project-2-process-mobile-1 .screen-shot-2022-04-25-at-85534-pm-nD5YXe {
  background-color: transparent;
  height: 309px;
  left: 41px;
  object-fit: cover;
  position: absolute;
  top: 692px;
  width: 309px;
}

.project-2-process-mobile-1 .screen-shot-2022-04-25-at-85553-pm-nD5YXe {
  background-color: transparent;
  height: 309px;
  left: 41px;
  object-fit: cover;
  position: absolute;
  top: 1044px;
  width: 309px;
}

.project-2-process-mobile-1 .screen-shot-2022-04-25-at-85614-pm-nD5YXe {
  background-color: transparent;
  height: 309px;
  left: 41px;
  object-fit: cover;
  position: absolute;
  top: 1396px;
  width: 309px;
}

.project-2-process-mobile-1 .screen-shot-2022-04-25-at-85523-pm-nD5YXe {
  background-color: transparent;
  height: 309px;
  left: 41px;
  object-fit: cover;
  position: absolute;
  top: 1748px;
  width: 309px;
}

.project-2-process-mobile-1 .screen-shot-2022-04-25-at-85543-pm-nD5YXe {
  background-color: transparent;
  height: 309px;
  left: 41px;
  object-fit: cover;
  position: absolute;
  top: 2100px;
  width: 309px;
}

.project-2-process-mobile-1 .screen-shot-2022-04-25-at-85603-pm-nD5YXe {
  background-color: transparent;
  height: 309px;
  left: 41px;
  object-fit: cover;
  position: absolute;
  top: 2452px;
  width: 309px;
}

.project-2-process-mobile-1 .screen-shot-2022-04-25-at-85623-pm-nD5YXe {
  background-color: transparent;
  height: 309px;
  left: 41px;
  object-fit: cover;
  position: absolute;
  top: 2804px;
  width: 309px;
}

.project-2-process-mobile-1 .pay-1-nD5YXe {
  background-color: transparent;
  height: 499px;
  left: 80px;
  object-fit: cover;
  position: absolute;
  top: 3156px;
  width: 231px;
}

.project-2-process-mobile-1 .home-1-nD5YXe {
  background-color: transparent;
  height: 499px;
  left: 80px;
  object-fit: cover;
  position: absolute;
  top: 3698px;
  width: 231px;
}

.project-2-process-mobile-1 .search-1-nD5YXe {
  background-color: transparent;
  height: 500px;
  left: 80px;
  object-fit: cover;
  position: absolute;
  top: 4240px;
  width: 231px;
}

.project-2-process-mobile-1 .profile-nD5YXe {
  background-color: transparent;
  height: 500px;
  left: 80px;
  object-fit: cover;
  position: absolute;
  top: 4782px;
  width: 231px;
}

.project-2-process-mobile-1 .search-nD5YXe {
  background-color: transparent;
  height: 499px;
  left: 80px;
  object-fit: cover;
  position: absolute;
  top: 5324px;
  width: 231px;
}

.project-2-process-mobile-1 .bank-1-nD5YXe {
  background-color: transparent;
  height: 499px;
  left: 80px;
  object-fit: cover;
  position: absolute;
  top: 5877px;
  width: 231px;
}

.project-2-process-mobile-1 .profile-1-nD5YXe {
  background-color: transparent;
  height: 499px;
  left: 80px;
  object-fit: cover;
  position: absolute;
  top: 6419px;
  width: 231px;
}

.project-2-process-mobile-1 .pay-nD5YXe {
  background-color: transparent;
  height: 500px;
  left: 80px;
  object-fit: cover;
  position: absolute;
  top: 6961px;
  width: 231px;
}

.project-2-process-mobile-1 .home-BxBcQX {
  background-color: transparent;
  height: 500px;
  left: 80px;
  object-fit: cover;
  position: absolute;
  top: 7503px;
  width: 231px;
}

.project-2-process-mobile-1 .bank-nD5YXe {
  background-color: transparent;
  height: 499px;
  left: 80px;
  object-fit: cover;
  position: absolute;
  top: 8045px;
  width: 231px;
}
/* screen - project-2process-tablet-1 */

.project-2process-tablet-1 {
  background-color: var(--white);
  height: 4923px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 768px;
}

.project-2process-tablet-1 .rectangle-10-58cv1J {
  background-color: var(--white);
  height: 106px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 768px;
}

.project-2process-tablet-1 .ryan-ledesma-58cv1J {
  background-color: transparent;
  height: auto;
  left: 85px;
  letter-spacing: 2.25px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  top: 40px;
  white-space: nowrap;
  width: auto;
}

.project-2process-tablet-1 .program-bookspring-2022-58cv1J {
  background-color: transparent;
  height: auto;
  left: 85px;
  letter-spacing: 1.95px;
  line-height: 45px;
  position: absolute;
  text-align: left;
  top: 170px;
  white-space: nowrap;
  width: auto;
}

.project-2process-tablet-1 .safe-send-app-58cv1J {
  background-color: transparent;
  height: auto;
  left: 288px;
  letter-spacing: 1.65px;
  line-height: 50px;
  position: absolute;
  text-align: left;
  top: 334px;
  white-space: nowrap;
  width: auto;
}

.project-2process-tablet-1 .home-58cv1J {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 654px;
  letter-spacing: 1.95px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  top: 42px;
  white-space: nowrap;
  width: auto;
}

.project-2process-tablet-1 .screen-shot-2022-04-25-at-85508-pm-58cv1J {
  background-color: transparent;
  height: 309px;
  left: 56px;
  object-fit: cover;
  position: absolute;
  top: 479px;
  width: 309px;
}

.project-2process-tablet-1 .screen-shot-2022-04-25-at-85534-pm-58cv1J {
  background-color: transparent;
  height: 309px;
  left: 56px;
  object-fit: cover;
  position: absolute;
  top: 831px;
  width: 309px;
}

.project-2process-tablet-1 .screen-shot-2022-04-25-at-85553-pm-58cv1J {
  background-color: transparent;
  height: 309px;
  left: 56px;
  object-fit: cover;
  position: absolute;
  top: 1183px;
  width: 309px;
}

.project-2process-tablet-1 .screen-shot-2022-04-25-at-85614-pm-58cv1J {
  background-color: transparent;
  height: 309px;
  left: 56px;
  object-fit: cover;
  position: absolute;
  top: 1535px;
  width: 309px;
}

.project-2process-tablet-1 .screen-shot-2022-04-25-at-85523-pm-58cv1J {
  background-color: transparent;
  height: 309px;
  left: 404px;
  object-fit: cover;
  position: absolute;
  top: 479px;
  width: 309px;
}

.project-2process-tablet-1 .screen-shot-2022-04-25-at-85543-pm-58cv1J {
  background-color: transparent;
  height: 309px;
  left: 404px;
  object-fit: cover;
  position: absolute;
  top: 831px;
  width: 309px;
}

.project-2process-tablet-1 .screen-shot-2022-04-25-at-85603-pm-58cv1J {
  background-color: transparent;
  height: 309px;
  left: 404px;
  object-fit: cover;
  position: absolute;
  top: 1183px;
  width: 309px;
}

.project-2process-tablet-1 .screen-shot-2022-04-25-at-85623-pm-58cv1J {
  background-color: transparent;
  height: 309px;
  left: 404px;
  object-fit: cover;
  position: absolute;
  top: 1535px;
  width: 309px;
}

.project-2process-tablet-1 .pay-1-58cv1J {
  background-color: transparent;
  height: 499px;
  left: 133px;
  object-fit: cover;
  position: absolute;
  top: 1938px;
  width: 231px;
}

.project-2process-tablet-1 .home-1-58cv1J {
  background-color: transparent;
  height: 499px;
  left: 133px;
  object-fit: cover;
  position: absolute;
  top: 2480px;
  width: 231px;
}

.project-2process-tablet-1 .search-1-58cv1J {
  background-color: transparent;
  height: 500px;
  left: 133px;
  object-fit: cover;
  position: absolute;
  top: 3022px;
  width: 231px;
}

.project-2process-tablet-1 .profile-58cv1J {
  background-color: transparent;
  height: 500px;
  left: 133px;
  object-fit: cover;
  position: absolute;
  top: 3564px;
  width: 231px;
}

.project-2process-tablet-1 .search-58cv1J {
  background-color: transparent;
  height: 499px;
  left: 133px;
  object-fit: cover;
  position: absolute;
  top: 4106px;
  width: 231px;
}

.project-2process-tablet-1 .bank-1-58cv1J {
  background-color: transparent;
  height: 499px;
  left: 405px;
  object-fit: cover;
  position: absolute;
  top: 1938px;
  width: 231px;
}

.project-2process-tablet-1 .profile-1-58cv1J {
  background-color: transparent;
  height: 499px;
  left: 405px;
  object-fit: cover;
  position: absolute;
  top: 2480px;
  width: 231px;
}

.project-2process-tablet-1 .pay-58cv1J {
  background-color: transparent;
  height: 500px;
  left: 405px;
  object-fit: cover;
  position: absolute;
  top: 3022px;
  width: 231px;
}

.project-2process-tablet-1 .home-d0x5ER {
  background-color: transparent;
  height: 500px;
  left: 405px;
  object-fit: cover;
  position: absolute;
  top: 3564px;
  width: 231px;
}

.project-2process-tablet-1 .bank-58cv1J {
  background-color: transparent;
  height: 499px;
  left: 405px;
  object-fit: cover;
  position: absolute;
  top: 4106px;
  width: 231px;
}
@media screen and (max-width: 767px) {
  .screen.project-2-process-1 { 
    display: none;
   }
  .screen.project-2process-tablet-1 { 
    display: none;
   }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .screen.project-2-process-1 { 
    display: none;
   }
  .screen.project-2-process-mobile-1 { 
    display: none;
   }
}
@media screen and (min-width: 1280px) {
  .screen.project-2process-tablet-1 { 
    display: none;
   }
  .screen.project-2-process-mobile-1 { 
    display: none;
   }
}