/* screen - project-4-process-mobile-2 */

.project-4-process-mobile-2 {
  background-color: var(--white);
  height: 6699px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 390px;
}

.project-4-process-mobile-2 .rectangle-10-CnxXSX {
  background-color: var(--white);
  height: 75px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 390px;
}

.project-4-process-mobile-2 .ryan-ledesma-CnxXSX {
  background-color: transparent;
  height: auto;
  left: 29px;
  letter-spacing: 1.58px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  top: 28px;
  white-space: nowrap;
  width: auto;
}

.project-4-process-mobile-2 .program-bookspring-2022-CnxXSX {
  background-color: transparent;
  height: auto;
  left: 29px;
  letter-spacing: 1.35px;
  line-height: 31px;
  position: absolute;
  text-align: left;
  top: 122px;
  white-space: nowrap;
  width: auto;
}

.project-4-process-mobile-2 .charlies-website-CnxXSX {
  background-color: transparent;
  height: auto;
  left: 131px;
  letter-spacing: 1.12px;
  line-height: 34px;
  position: absolute;
  text-align: left;
  top: 238px;
  white-space: nowrap;
  width: auto;
}

.project-4-process-mobile-2 .home-CnxXSX {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 312px;
  letter-spacing: 1.35px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  top: 26px;
  white-space: nowrap;
  width: auto;
}

.project-4-process-mobile-2 .screen-shot-2022-04-25-at-94305-pm-copy-CnxXSX {
  background-color: transparent;
  height: 300px;
  left: 29px;
  object-fit: cover;
  position: absolute;
  top: 307px;
  width: 332px;
}

.project-4-process-mobile-2 .screen-shot-2022-04-25-at-94235-pm-copy-CnxXSX {
  background-color: transparent;
  height: 299px;
  left: 29px;
  object-fit: cover;
  position: absolute;
  top: 641px;
  width: 332px;
}

.project-4-process-mobile-2 .screen-shot-2022-04-25-at-94214-pm-copy-CnxXSX {
  background-color: transparent;
  height: 300px;
  left: 29px;
  object-fit: cover;
  position: absolute;
  top: 974px;
  width: 332px;
}

.project-4-process-mobile-2 .screen-shot-2022-04-25-at-94214-pm-copy-QPS49O {
  background-color: transparent;
  height: 299px;
  left: 29px;
  object-fit: cover;
  position: absolute;
  top: 1301px;
  width: 332px;
}

.project-4-process-mobile-2 .desktop-copy-CnxXSX {
  background-color: transparent;
  height: 625px;
  left: 29px;
  object-fit: cover;
  position: absolute;
  top: 3871px;
  width: 332px;
}

.project-4-process-mobile-2 .mobile-copy-CnxXSX {
  background-color: transparent;
  height: 1894px;
  left: 68px;
  object-fit: cover;
  position: absolute;
  top: 4560px;
  width: 254px;
}

.project-4-process-mobile-2 .screen-shot-2022-04-25-at-94257-pm-copy-CnxXSX {
  background-color: transparent;
  height: 300px;
  left: 29px;
  object-fit: cover;
  position: absolute;
  top: 1645px;
  width: 332px;
}

.project-4-process-mobile-2 .screen-shot-2022-04-25-at-94221-pm-copy-CnxXSX {
  background-color: transparent;
  height: 299px;
  left: 29px;
  object-fit: cover;
  position: absolute;
  top: 1979px;
  width: 332px;
}

.project-4-process-mobile-2 .screen-shot-2022-04-25-at-94202-pm-copy-CnxXSX {
  background-color: transparent;
  height: 300px;
  left: 29px;
  object-fit: cover;
  position: absolute;
  top: 2312px;
  width: 332px;
}

.project-4-process-mobile-2 .screen-shot-2022-04-25-at-94202-pm-copy-QPS49O {
  background-color: transparent;
  height: 299px;
  left: 29px;
  object-fit: cover;
  position: absolute;
  top: 2639px;
  width: 332px;
}

.project-4-process-mobile-2 .tablet-copy-CnxXSX {
  background-color: transparent;
  height: 829px;
  left: 29px;
  object-fit: cover;
  position: absolute;
  top: 2978px;
  width: 321px;
}
/* screen - project-4process-2 */

.project-4process-2 {
  background-color: var(--white);
  height: 5124px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1280px;
}

.project-4process-2 .rectangle-10-TuDxxt {
  background-color: var(--white);
  height: 137px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1280px;
}

.project-4process-2 .program-bookspring-2022-TuDxxt {
  background-color: transparent;
  height: auto;
  left: 85px;
  letter-spacing: 2.40px;
  line-height: 45px;
  position: absolute;
  text-align: left;
  top: 254px;
  white-space: nowrap;
  width: auto;
}

.project-4process-2 .ryan-ledesma-TuDxxt {
  background-color: transparent;
  height: auto;
  left: 85px;
  letter-spacing: 2.70px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  top: 56px;
  white-space: nowrap;
  width: auto;
}

.project-4process-2 .charlies-website-TuDxxt {
  background-color: transparent;
  height: auto;
  left: 85px;
  letter-spacing: 1.80px;
  line-height: 50px;
  position: absolute;
  text-align: left;
  top: 510px;
  white-space: nowrap;
  width: auto;
}

.project-4process-2 .screen-shot-2022-04-25-at-94305-pm-copy-TuDxxt {
  background-color: transparent;
  height: 487px;
  left: 85px;
  object-fit: cover;
  position: absolute;
  top: 593px;
  width: 540px;
}

.project-4process-2 .screen-shot-2022-04-25-at-94235-pm-copy-TuDxxt {
  background-color: transparent;
  height: 487px;
  left: 86px;
  object-fit: cover;
  position: absolute;
  top: 1135px;
  width: 540px;
}

.project-4process-2 .screen-shot-2022-04-25-at-94214-pm-copy-TuDxxt {
  background-color: transparent;
  height: 487px;
  left: 86px;
  object-fit: cover;
  position: absolute;
  top: 1677px;
  width: 540px;
}

.project-4process-2 .screen-shot-2022-04-25-at-94214-pm-copy-Otqtqw {
  background-color: transparent;
  height: 487px;
  left: 86px;
  object-fit: cover;
  position: absolute;
  top: 2208px;
  width: 540px;
}

.project-4process-2 .screen-shot-2022-04-25-at-94257-pm-copy-TuDxxt {
  background-color: transparent;
  height: 487px;
  left: 654px;
  object-fit: cover;
  position: absolute;
  top: 593px;
  width: 540px;
}

.project-4process-2 .screen-shot-2022-04-25-at-94221-pm-copy-TuDxxt {
  background-color: transparent;
  height: 487px;
  left: 655px;
  object-fit: cover;
  position: absolute;
  top: 1135px;
  width: 540px;
}

.project-4process-2 .screen-shot-2022-04-25-at-94202-pm-copy-TuDxxt {
  background-color: transparent;
  height: 487px;
  left: 655px;
  object-fit: cover;
  position: absolute;
  top: 1677px;
  width: 540px;
}

.project-4process-2 .screen-shot-2022-04-25-at-94202-pm-copy-Otqtqw {
  background-color: transparent;
  height: 487px;
  left: 655px;
  object-fit: cover;
  position: absolute;
  top: 2208px;
  width: 540px;
}

.project-4process-2 .home-TuDxxt {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 1014px;
  letter-spacing: 2.40px;
  line-height: 34px;
  position: absolute;
  text-align: left;
  top: 64px;
  white-space: nowrap;
  width: auto;
}

.project-4process-2 .desktop-copy-TuDxxt {
  background-color: transparent;
  height: 1017px;
  left: 86px;
  object-fit: cover;
  position: absolute;
  top: 2777px;
  width: 540px;
}

.project-4process-2 .tablet-copy-TuDxxt {
  background-color: transparent;
  height: 958px;
  left: 655px;
  object-fit: cover;
  position: absolute;
  top: 2777px;
  width: 371px;
}

.project-4process-2 .mobile-copy-TuDxxt {
  background-color: transparent;
  height: 1145px;
  left: 128px;
  object-fit: cover;
  position: absolute;
  top: 3876px;
  width: 153px;
}
/* screen - project-4process-tablet-2 */

.project-4process-tablet-2 {
  background-color: var(--white);
  height: 3628px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 768px;
}

.project-4process-tablet-2 .rectangle-10-evbL4H {
  background-color: var(--white);
  height: 106px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 768px;
}

.project-4process-tablet-2 .ryan-ledesma-evbL4H {
  background-color: transparent;
  height: auto;
  left: 85px;
  letter-spacing: 2.25px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  top: 40px;
  white-space: nowrap;
  width: auto;
}

.project-4process-tablet-2 .program-bookspring-2022-evbL4H {
  background-color: transparent;
  height: auto;
  left: 85px;
  letter-spacing: 1.95px;
  line-height: 45px;
  position: absolute;
  text-align: left;
  top: 170px;
  white-space: nowrap;
  width: auto;
}

.project-4process-tablet-2 .charlies-website-evbL4H {
  background-color: transparent;
  height: auto;
  left: 288px;
  letter-spacing: 1.65px;
  line-height: 50px;
  position: absolute;
  text-align: left;
  top: 334px;
  white-space: nowrap;
  width: auto;
}

.project-4process-tablet-2 .home-evbL4H {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 654px;
  letter-spacing: 1.95px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  top: 42px;
  white-space: nowrap;
  width: auto;
}

.project-4process-tablet-2 .screen-shot-2022-04-25-at-94305-pm-copy-evbL4H {
  background-color: transparent;
  height: 300px;
  left: 43px;
  object-fit: cover;
  position: absolute;
  top: 419px;
  width: 332px;
}

.project-4process-tablet-2 .screen-shot-2022-04-25-at-94235-pm-copy-evbL4H {
  background-color: transparent;
  height: 299px;
  left: 44px;
  object-fit: cover;
  position: absolute;
  top: 753px;
  width: 332px;
}

.project-4process-tablet-2 .screen-shot-2022-04-25-at-94214-pm-copy-evbL4H {
  background-color: transparent;
  height: 300px;
  left: 44px;
  object-fit: cover;
  position: absolute;
  top: 1086px;
  width: 332px;
}

.project-4process-tablet-2 .screen-shot-2022-04-25-at-94214-pm-copy-vuGu3k {
  background-color: transparent;
  height: 299px;
  left: 44px;
  object-fit: cover;
  position: absolute;
  top: 1413px;
  width: 332px;
}

.project-4process-tablet-2 .screen-shot-2022-04-25-at-94257-pm-copy-evbL4H {
  background-color: transparent;
  height: 300px;
  left: 393px;
  object-fit: cover;
  position: absolute;
  top: 419px;
  width: 332px;
}

.project-4process-tablet-2 .screen-shot-2022-04-25-at-94221-pm-copy-evbL4H {
  background-color: transparent;
  height: 299px;
  left: 394px;
  object-fit: cover;
  position: absolute;
  top: 753px;
  width: 332px;
}

.project-4process-tablet-2 .screen-shot-2022-04-25-at-94202-pm-copy-evbL4H {
  background-color: transparent;
  height: 300px;
  left: 394px;
  object-fit: cover;
  position: absolute;
  top: 1086px;
  width: 332px;
}

.project-4process-tablet-2 .screen-shot-2022-04-25-at-94202-pm-copy-vuGu3k {
  background-color: transparent;
  height: 299px;
  left: 394px;
  object-fit: cover;
  position: absolute;
  top: 1413px;
  width: 332px;
}

.project-4process-tablet-2 .desktop-copy-evbL4H {
  background-color: transparent;
  height: 625px;
  left: 44px;
  object-fit: cover;
  position: absolute;
  top: 1763px;
  width: 332px;
}

.project-4process-tablet-2 .tablet-copy-evbL4H {
  background-color: transparent;
  height: 588px;
  left: 394px;
  object-fit: cover;
  position: absolute;
  top: 1763px;
  width: 228px;
}

.project-4process-tablet-2 .mobile-copy-evbL4H {
  background-color: transparent;
  height: 1024px;
  left: 69px;
  object-fit: cover;
  position: absolute;
  top: 2439px;
  width: 137px;
}
@media screen and (max-width: 767px) {
  .screen.project-4process-2 { 
    display: none;
   }
  .screen.project-4process-tablet-2 { 
    display: none;
   }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .screen.project-4process-2 { 
    display: none;
   }
  .screen.project-4-process-mobile-2 { 
    display: none;
   }
}
@media screen and (min-width: 1280px) {
  .screen.project-4process-tablet-2 { 
    display: none;
   }
  .screen.project-4-process-mobile-2 { 
    display: none;
   }
}